header{
    background-color: #0a4d04;
    padding: 1%;
    text-align: center;
    border-top: 10px solid rgba(219, 219, 219, 0.829);
    border-bottom: 10px solid rgba(34, 85, 5, 0.986);
    color: #000000;
}

.imagen-inline{
    width:100px;
    height:auto;
    float:right;
    display:inline;
    margin-right:10px;
    margin-top:5px;
}

.navbar ul{
    background-color:rgba(15, 70, 30, 0.89);
    list-style:none;
    text-decoration: none;
    gap: 2rem;
    display:flex;
    justify-content:flex-start;
    padding:0;
    margin:0;
}

.btn-nav{
    background-color:rgba(1, 78, 22, 0.952);
    color:#ffffff;
    border:1px solid #35523c;
    padding:10px 20px;
    font-size:16px;
    cursor:pointer;
}

.btn-nav:hover{
    background-color: #267423fa;
    color: #2e5c20;
}


.contenedor{
    display: flex;
    width:100%;
}

.articulo{
    background-color: #166806e3;
    flex:3;
    padding:20px;
}

.pie{
    background-color: #000000f1;
}

.propaganda{
    background-color: #097217d3;
    flex:1;
    padding:30px;
    text-decoration: none;
    list-style:none;
}

body{
    margin: 0;
}

.pilotos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;              /* espacio entre tarjetas */
  justify-items: center;  /* centra cada piloto en su celda */
}

.piloto {
  text-align: center;
}